{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>    
    <title>Live Search</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main class="container mx-auto w-full p-4">
        {% block content %}
        <!-- Main content will go here -->
        {% endblock %}
    </main>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
